/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0b1 | 201101 
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}
/* remember to define visible focus styles! 
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}





/*------------------------------------*\
    $MAIN
\*------------------------------------*/
/* GO! */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

@font-face {
    font-family: 'Gotham';
    src: url('../../lib/font/gotham.eot');
    src: url('../../lib/font/gotham.eot?#iefix') format('embedded-opentype'),
         url('../../lib/font/gotham.woff') format('woff'),
         url('../../lib/font/gotham.ttf') format('truetype'),
         url('../../lib/font/gotham.svg#Gotham-Medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Start: Recommended Isotope styles */

/*********************************************
 * LOGO
 *********************************************/ 

nav.static {
  display: block;
  width: 100%;
  font-size: 1.1em;
  color: white;
  position: fixed;
  font-family: "Gotham";
  font-weight: 400;
  color: #000;
}

nav.invertido {
  color: ;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  background: url(../../img/logo-normal-2x.png) no-repeat;
  background-size: 35px 41px;
  display: block;
  padding: 10px;
  padding-left: 45px;
  z-index: 100;
}

.ministerio {
  display: block;
  padding: 18px;
  position: absolute;
  width: 150px;
  top: 12px;
  right: 0px;
  display: block;
  z-index: 101;
}

.header {
  display: block;
  color: #fff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
}

.header h1 {
  padding-top: 500px;
  margin-left: 20px;
  font-size: 5em;
  line-height: 0em;
  margin-bottom: 50px;
  font-weight: 200;
}
.header h2 {
  margin-left: 25px;
  font-size: 1.6em;
  line-height: .5em;
  font-weight: 200;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      -ms-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.isotope {
  -webkit-transition-property: all;
     -moz-transition-property: all;
      -ms-transition-property: all;
       -o-transition-property: all;
          transition-property: all;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, all;
     -moz-transition-property:    -moz-transform, all;
      -ms-transition-property:     -ms-transform, all;
       -o-transition-property:      -o-transform, all;
          transition-property:         transform, all;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}


/**** Base styles ****/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 13px;
  line-height: 1.7em;
  background: #fff;
  color: #000;
  background-size: cover;
  background-image: url(../img/planetario.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:center;
}

h1, h2, h3, p, ul, ol, pre, dl {
  /*margin-bottom: 1.0em;*/
}

h1, h2, #super-list, .element, .tagline, #index-list, 
.super-list .link {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
}

h1, h2, h3 { font-weight: normal; }

h1 {
  font-size: 32px;
  line-height: 1.1em;
}

h2 {
  font-size: 24px;
  line-height: 1.1em;
}

ul, ol {
  margin-left: 1.5em;
}

a,
a code {
  color: #FB4;
  text-decoration: none;
}

a:hover,
a:hover code { 
  color: #4BF; 
}

a:active,
a:active code {
  color: #1FB;
  background: black;
}

a img { border: none; }

em { font-style: italic; }
strong { font-weight: bold; }

blockquote {
  padding-left: 1.0em;
  margin-left: 1.0em;
  border-left: 1px solid #333;
  font-style: italic;
}

section {
  min-height: 1080px;
}

section.dashboard {
  min-height: 1920px;
  zoom: .7;
}

/**** Isotope styles ****/

/* required for containers to inherit vertical size from window */
html,
body {
  height: 100%;
}

#container {
  display: block;
  padding: 10px;
  margin: 250px auto 20px;
  height: 1600px;
}

.element {
  width: 250px;
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  color: #222;
/*  -webkit-border-radius: 1.2em;
  -moz-border-radius: 1.2em;
  border-radius: 1.2em;*/
}


.element.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
.element.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.element.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
.element.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
.element.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
.element.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.element.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.element.other.nonmetal  { background: #00F; background: hsl( 252, 100%, 50%); }
.element.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.element.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }


.element * {
  position: absolute;
  margin: 0;
}

.element .proyecto {
  left: 0.2em;
  top: 0.2em;
  letter-spacing: -0.04em;
  font-size: 2.3em;
  line-height: 1.0em;
  color: #FFF;
  width: 350px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
}

.element.clickable {
  cursor: pointer;
}
.element.large .proyecto {
  font-size: 4.5em;
}

.element.fake .proyecto {
  color: #000;
}

.element .name {
  left: 0.5em;
  bottom: .5em;
  font-size: 1em;
}

.element .weight {
  font-size: 1em;
  left: 0.5em;
  bottom: 0.5em;
  color: #FFF;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
}

.element .number {
  font-size: 1.25em;
  font-weight: bold;
  color: hsla(0,0%,0%,.5);
  right: 0.5em;
  top: 0em;
}

.A {
  width: 510px;
}

.A .proyecto  {
  font-size: 2.7em;
  line-height: 0.9em;
}

.A .name {
  font-size: 1.5em;
  bottom: 1em;
}

.A .number {
  font-size: 2em;
  font-weight: bold;
  color: hsla(0,0%,0%,.5);
  right: 0.2em;
  top: 0.2em;
}


.variable-sizes .element.width2.height2 {
  font-size: 2.0em;
}

.element.large,
.variable-sizes .element.large,
.variable-sizes .element.large.width2.height2 {
  font-size: 3.0em;
  width: 350px;
  height: 350px;
  z-index: 100;
}

.clickable .element:hover {
  cursor: pointer;
}

.clickable .element:hover h3 {
  text-shadow:
    0 0 10px white,
    0 0 10px white
  ;
}

.clickable .element:hover h2 {
  color: white;
}

/**** Example Options ****/

#options {
  display: block;
  position: absolute;
  padding-bottom: 1.0em;
  z-index: 1000;
  right: 0px;
  margin-top: -50px;
  margin-right: 25px;
}

#options h3 {
  margin-bottom: 0.2em;
  font-size: 15px;
}

#options h4 { 
  font-weight: bold;
}

#options ul {
  margin: 0;
  list-style: none;
}

#options ul ul {
  margin-left: 1.1em;
}

#options li {
  float: left;
  margin-bottom: 0.2em;
}

#options li a {
  border-top:  1px solid hsla( 0, 0%, 100%, 0.3 );
  border-bottom:  1px solid hsla( 0, 0%, 100%, 0.3 );
  display: block;
  padding: 0.4em 0.6em;
  color: #222;
  font-weight: bold;
  text-shadow: 0 1px hsla( 0, 0%, 100%, 0.5 );
}

#options li a:hover {
  background-color:hsla( 0, 0%, 100%, 0.3 );
}

#options li a:active {
  background-color: hsla( 0, 0%, 100%, 0.7 );;
}

#options li a {
  border-left:  1px solid hsla( 0, 0%, 100%, 0.3 );
}

#options li:first-child a {
  border-left:  1px solid hsla( 0, 0%, 100%, 0.3 );
}

#options li:last-child a {
  border-right:  1px solid hsla( 0, 0%, 100%, 0.3 );
}

#options li a.selected {
  text-shadow: none;
  color: white;
}

/* Combination filter options*/

#options .option-combo {
  display: inline-block;
  float: left;
  margin-right: 0px;
}

#options .option-combo ul {
  margin-right: 20px;
  display: inline-block;
}

#options .option-combo h2,
#options .option-combo h4 {
  line-height: 34px;
  margin-bottom: 0;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
}

/* Color shapes */

.color-shape {
  width: 70px;
  height: 70px;
  margin: 5px;
  float: left;
}
 
.color-shape.round {

}
 
.color-shape.big.round {

}
 
.color-shape.red { background: red; }
.color-shape.blue { background: blue; }
.color-shape.yellow { background: yellow; }
 
.color-shape.wide, .color-shape.big { width: 150px; }
.color-shape.tall, .color-shape.big { height: 150px; }

.color-shape a {
  display: block;
  height: 100%;
}

.color-shape a:hover {
  background: white;
  background: hsla( 0, 0%, 100%, 0.5 );
}

/**** Horizontal ****/

.horizontal #container {
  height: 80%;
}

#copy {
  max-width: 640px;
}

/**** Photo demo ****/

.photos .photo {
  width: 320px;
  margin: 5px;
  float: left;
}

.photos .photo img {
  display: block;
  width: 100%;
}

#content {
  padding-bottom: 250px;
}

.demos #content {
  height: 100%;
}

/**** Docs ****/

.docs #content {
  max-width: 640px;
}

.docs #content a:hover {
  border-bottom: 1px dotted;
}


pre {
  padding: 10px;
}

pre, code {
  background: black;
  color: white;
  font-family: 'Monaco', monospace, sans-serif;
}

#content code {
  font-size: 12px;
}

#content pre {
  line-height: 1.6em;
}

h3#options {
  padding-bottom: 0;
}

.option-def dl dt,
.option-def dl dd {
  float: left;
  padding: 0 1.2em;;
  background: #161616;
  line-height: 36px;
  height: 36px;
}

.option-def dl.header dt,
.option-def dl.header dd {
  background: #444;
}

.option-def dl .option-type {
  font-size: 13px;
  color: #AAA;
  font-style: italic;
}

.option-def dl dd {
  border-left: 1px solid #222;
}

/* Tagline */

.docs .tagline {
  font-size: 22px;
  font-weight: 300;
}

/* as-is from MIT */

.docs .as-is {
  font-size: 95%;
}

/* Commercial license blurb */

.docs #commercial {
  background: white;
  padding: 10px;
  font-size: 14px;
  color: #1F1F1D;
}

.docs #commercial a { font-weight: bold;}

/**** Pygments ****/

code .s1,
code .s { color: #78BD55; } /* string */
code .mi, /* integer */
code .cp, /* doctype */
code .kc { color: #5298D4; } /*boolean*/
code .k { color: #E39B79; } /* keyword */
code .kd, /* storage */
code .na { color: #A9D866; } /* markup attribute */
code .p  { color: #EDB; } /* punctuation */
code .o  { color: #F63; }   /* operator */
code .nb { color: #AA97AC;} /* support */

/* comment */
code .c,
code .c1 { color: #666; font-style: italic; }

code .nt { color: #A0C8FC; } /* Markup open tag */

code .nf { color: #9EA8B8; } /* css id */
code .nc { color: #A78352; }  /* CSS class */
code .m  { color: #DE8E50; } /* CSS value */
code .nd { color: #9FAD7E; } /* CSS pseudo selector */



/**** Super list ****/


/**** Sites using Isotope ****/

#sites h2 {
  display: none;
  padding: 0.4em;
  line-height: 32px;
  margin-bottom: 0.4em;
  -webkit-transition: background-color 0.8s;
     -moz-transition: background-color 0.8s;
       -o-transition: background-color 0.8s;
          transition: background-color 0.8s;
}

#sites h2 img {
  display: inline-block;
  margin-right: 0.4em;
  vertical-align: bottom;
}

#sites h2.loading {
  background: white;
  color: #222;
}
#sites h2.error {
  background: red;
  color: #222;
}


#sites ul {
  margin: 0;
}

.super-list .example {
  list-style: none;
  float: left;
  width: 230px;
  margin: 5px;
}

.super-list .example a,
.super-list .example b,
.super-list .example img {
  display: block;
}

.super-list .example img { width: 100%; }

.super-list .example a {
  background: #1F1E1D;
}

.super-list .example a:hover {
  background: white;
  color: #111;
}

.super-list .example b { 
  font-weight: bold;
  line-height: 1.3em;
  padding: 3px;
  padding-top: 8px;
}

.super-list .link {
  float: left;
  position: relative;
  font-size: 24px;
  line-height: 1.2em;
  font-weight: 300;
  margin: 5px;
}

.super-list .link {
  width: 230px;
  height: 110px;
}

.super-list .link a {
  display: block;
  padding: 10px;
  padding-left: 65px;
  height: 90px;
  background: #1F1E1D;
  color: #FE5;
  -webkit-border-radius: 14px;
     -moz-border-radius: 14px;
          border-radius: 14px;
}

.super-list .link a:before {
  content: '➔';
  font-size: 70px;
  position: absolute;
  top: 30px;
  left: 5px;
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}

.super-list .link.away a:before {
  top: 25px;
  left: 0px;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.super-list .link a:hover {
  background: #E58;
  color: white;
}

.super-list .feature .name {
  bottom: auto;
  top: 140px;
  left: 18px;
  font-size: 20px;
}

/**** BIG Graph ****/

.big-graph {
  background: white;
  height: 600px;
  margin: 20px auto;
}

.big-graph .project {
  width: 45px;
  height: 45px;
  float: left;
}

.big-graph .project .icon {
  pointer-events: none;
  width: 31px;
  height: 31px;
  background: white;
  margin-left: 7px;
  -webkit-transition: -webkit-transform 0.25s;
     -moz-transition: -moz-transform    0.25s;
      -ms-transition: -ms-transform     0.25s;
       -o-transition: -o-transform      0.25s;
          transition: transform         0.25s;
}

.big-graph .project:hover {
  z-index: 5;
  
}

.big-graph .project:hover .icon {
  -webkit-transform: scale(3);
     -moz-transform: scale(3);
      -ms-transform: scale(3);
       -o-transform: scale(3);
          transform: scale(3);
}

.big-graph .project.commercial .icon { background: #6B6B6B; }
.big-graph .project.urbanism .icon { background: #00CF00; }
.big-graph .project.public-space .icon { background: #FF8D00; }
.big-graph .project.culture .icon { background: #D61919; }
.big-graph .project.body-culture .icon { background: #00ECFF; }
.big-graph .project.health .icon { background: #FF2251; }
.big-graph .project.education .icon { background: #00A700; }
.big-graph .project.housing .icon { background: #FF02FF; }
.big-graph .project.hotel .icon { background: #0000C3; }
.big-graph .project.media .icon { background: #292929; }

.big-graph .project p {
  line-height: 14px;
  font-size: 10.5px;
  color: black;
  margin-left: 7px;
}

/**** Infinite Scroll ****/

#infscr-loading {
  position: fixed;
  text-align: center;
  bottom: 30px;
  left: 42%;
  z-index: 100;
  background: white;
  background: hsla( 0, 0%, 100%, 0.9 );
  padding: 20px;
  color: #222;
  font-size: 15px;
  font-weight: bold;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}



/* The Magnificent Clearfix: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* Codificacion de color para cada eje 

PBAAM



*/

.element.A {
    font-size: 1.4em !important;
    height: 230px;
}
.element.B {
    font-size: 1.2em !important;
    height: 230px !important;
}
.B .proyecto, .C .proyecto, .D .proyecto {
  top: .4em;
  width: 240px !important;
}
.B .weight, .C .weight, .D .weight {
  font-size: 1.15em;
  bottom: -0.1em;
}

.element.C {
    font-size: .8em !important;
    height: 125px;
}
.element.D {
    font-size: .6em !important;
    height: 65px;
}
.element {
  border-top: 0px solid;
}
.element.clickable {
  border-top: 10px solid;
}
.element.clickable:hover {
    border-top: 15px solid;
    -webkit-transition-duration: 0.1s;
       -moz-transition-duration: 0.1s;
        -ms-transition-duration: 0.1s;
         -o-transition-duration: 0.1s;
            transition-duration: 0.1s;
}
.element.EEC, .element.clickable.EEC {
    border-color: #69D2E7;
    border-color: hsla(190, 72%, 20%, 1);
    background-color: hsla(190, 72%, 66%, .8);
}
.element.ES21, .element.clickable.ES21 {
    border-color: #E45635;
    border-color: hsla(11, 76%, 20%, 1);
    background-color: hsla(11, 76%, 55%, .8);
}
.element.IUSP, .element.clickable.IUSP {
    border-color: #F7BC05;
    border-color: hsla(45, 96%, 20%, 1);
    background-color: hsla(45, 96%, 49%, .8);
}
.element.IPI, .element.clickable.IPI {
    border-color: #327CCB;
    border-color: hsla(211, 60%, 20%, 1);
    background-color: hsla(211, 60%, 50%, .8);
}
.element.BAM, .element.clickable.BAM {
    border-color: #44AA55;
    border-color: hsla(130, 43%, 20%, 1);
    background-color: hsla(130, 43%, 47%, .8);
}



/*


Slides


*/

#slides-container {
  color: white;
}

#slides-container section {
  width: auto;
  margin: 0;

}
#slides-container section h1 {
  line-height: normal;
}
#slides-container .inicio {
  min-height: 1080px;
  padding-left: 150px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
  background: -moz-linear-gradient(top,  rgba(47,41,61,0) 0%, rgba(47,41,61,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47,41,61,0)), color-stop(100%,rgba(47,41,61,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(47,41,61,0) 0%,rgba(47,41,61,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(47,41,61,0) 0%,rgba(47,41,61,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(47,41,61,0) 0%,rgba(47,41,61,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(47,41,61,0) 0%,rgba(47,41,61,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f293d', endColorstr='#2f293d',GradientType=0 ); /* IE6-9 */

}

#slides-container .inicio h1 {
  width: 85%;
  letter-spacing: -0.07em;
  font-size: 5.5em;
  line-height: 1.2em;
  font-weight: 300;
  padding-top: 400px;
  padding-bottom: 30px
}
#slides-container .inicio h2 {
  font-size: 1.5em;
  font-weight: 400;
}
#slides-container .slide-template {
  min-height: 1080px;
  background-color: #2F293D;
}
#slides-container .slide-template h1 {

  font-size: 6em;
  line-height: auto;
  font-weight: 400;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
  padding-top: 400px;
  padding-left: 150px;
}
#slides-container .slide-template h2 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1.5em;
  width: 70%;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
  padding-top: 10px;
  padding-left: 150px;
}
/*
#slides-container .slide-template.EEC {
    background-color: #69D2E7;
    background-color: hsla(190, 72%, 66%, .9);
}

#slides-container .slide-template.ES21 {
    background-color: #E45635;
    background-color: hsla(11, 76%, 55%, .9);
}
#slides-container .slide-template.IUSP {
    background-color: #F7BC05;
    background-color: hsla(45, 96%, 49%, .9);
}
#slides-container .slide-template.IPI {
    background-color: #327CCB;
    background-color: hsla(211, 60%, 50%, .9);
}
#slides-container .slide-template.BAM {
    background-color: #44AA55;
    background-color: hsla(130, 43%, 47%, .9);
}
*/